* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Background: #FFFFFF (white)
Primary Text Color: #333333 (dark gray)
Accent Color 1: #0033CC (dark blue)
Accent Color 2: #00CC33 (green)
Accent Color 3: #CC0000 (red)
Highlight Color: #66CCFF (light blue) */

body {
  color: #333333;
  background: #ffffff;
  overflow: hidden;
  font-family: "Arial", sans-serif;
}

.text-center {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.main {
  background: url('pexels-photo-3825366.webp') no-repeat;
  background-size: cover;
	background-position: -90%;
}

.main.active {
  filter: blur(15px);
}

.disable-selection {
  user-select: none;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 85px;
  color: #a8c1d2;
  text-shadow: 0 0 7px #9aeeee;
  /* text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff; */
  text-decoration: none;
  font-weight: 700;
  margin-top: -30px;
  margin-left: -117px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  display: block;
  padding: 10px;
  margin-left: 35px;
  font-weight: 600;
  text-decoration: none;
  color: rgb(146 146 146);
}

nav ul li:hover > .dropdown {
  display: block;
  color: #F1F0E8;
}

nav ul li a:hover,
nav ul li a.active {
  color: #364679;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #6c7ea0;
  padding: 10px;
  border: 2px solid #626b86;
  border-radius: 4px;
  box-shadow: 0px 2px 5px #555b6f;
}

.dropdown li {
  display: block;
}

.dropdown li a {
  color: #8ea7d5;
  text-decoration: none;
}

.dropdown li:hover {
  background: #5a6985;
  /* color: #2f5f79; */
  border-radius: 4px;
}

.play {
  font-weight: 600;
  color: #333333;
  text-shadow: -1px -1px 0 #b7c3da, 1px -1px 0 #8ea7d5;
}

.container{
  display: flex;
  height: 100vh;
  width: 200%;
}

.home{
  width: 100%;
  position: relative;
  left: -50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-con .start-btn {
  margin-top: 490px;
  margin-right: 30px;
  width: 190px;
  height: 55px;
  background: #a8c1d2;
  border: 2px solid #ffffff;
  color: #5a6985;
  box-shadow: 0 0 10px #8ea7d5;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: .3s;
}

.home-con .start-btn:hover {
  background-color: #5a6985;
  background-size: 200% 200%;
  color: #8ea7d5;
  animation: vintage-gradient 5s linear infinite;
}

@keyframes vintage-gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.home-con .start-btn:hover{
  transform: scale(1.1);
}

.home-con .start-btn:hover{
  border-color: #ffffff;
  animation: border-animation 0.5s ease-in-out infinite alternate;
}

@keyframes border-animation{
  0% {
    border-width: 2px;
  }
  100% {
    border-width: 4px;
  }
}

.popup-info{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 550px;
  background: #9bb1bf;
  border-radius: 6px;
  padding: 20px;
  border: 5px solid #a8c1d2;
  box-shadow: 10px #8ea7d5;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.popup-info.active{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.popup-info h2{
  font-size: 50px;
  color: #6c7ea0;
  text-shadow: 0 0 3px #ffffff;
  margin: 0;
  animation: glow-text 2s infinite;
}

@keyframes glow-text{
  0%{
    text-shadow: 0 0 5px #ffffff;
  }
  50%{
    text-shadow: 0 0 20px rgb(74, 74, 118), 146, 31;
  }
  100%{
    text-shadow: 0 0 5px #ffffff;
  }
}

.popup-info .info{
  display: block;
  font-size: 16px;
  color: #5a6985;
  font-weight: 500;
  margin: 10px 0;
}

.popup-info .info span{
  color: #f2f2f2;
}

.popup-info .btn-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #5a6985;
  margin-top: 20px;
  padding: 15px 0 7px ;
}

.popup-info .btn-group .info-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 130px;
  height: 45px;
  background: #a8c1d2;
  border: 2px solid #ffffff;
  color: #5a6985;
  box-shadow: 0 0 10px #8ea7d5;
  outline: none;
  border-radius: 6px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  transition: .3s;
  background-position: 0% 0%;
}

.popup-info .btn-group .info-btn:nth-child(1){
  background: #8da0ad;
  color: #5a6985;
}

.popup-info .btn-group .info-btn:nth-child(1):hover{
  background: #5a6985;
  color: #8da0ad;
}

.popup-info .btn-group .info-btn:nth-child(2):hover{
  background: #bbd7ea;
  animation: rainbow-gradient 5s linear infinite;
  color: #8da0ad;
}

.popup-info .btn-group .info-btn:nth-child(2):hover{
  border-color: #ffffff;
  animation: border-animation 0.5s ease-in-out infinite alternate;
}

.popup-info p{
  color: rgb(146 146 146);
  font-weight: 500;
  text-shadow: -1px -1px 0 #9aeeee, 1px -1px 0 #8ea7d5
}
.quiz-section{
  position: relative;
  left: -50%;
  /* left: 0; */
  width: 100%;
  background: #ebe8e5;
  color: #8da0ad;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition-property: left;
  transition-duration: 0.8s;
  transition-timing-function: cubic-bezier(0.93, 0.02, 0.58, 1);
  transition-delay: 0.25s;
}

.quiz-section .exit-quiz {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: transparent;
  color: #556169;
  padding: 10px 20px;
  border: 2px solid #ffffff;
  box-shadow: 0 0 10px #556169;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quiz-section .exit-quiz:hover {
  background-color: #556169;
  color: #ffffff;
}


.quiz-section.active{
  left: 0;
}

.quiz-section .quiz-box{
  position: relative;
  width: 760px;
  /* height: 600px; */
  background: transparent;
  border: 2px solid #556169;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  transform: scale(.9);
  overflow: auto;
  transition: .3s cubic-bezier(0.5, -0.06, 0.17, 1.07);
  transition-delay: 0s;
}

.quiz-section .quiz-box.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transition: 1s cubic-bezier(0.5, -0.06, 0.17, 1.07);
  transition-delay: 1s;
}

.quiz-box h1{
  font-size: 32px;
  text-align: center;
  background: linear-gradient(45deg, transparent, #b8bfce, transparent);
  border-radius: 6px;
}

.quiz-box .quiz-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #8da0ad;
  margin-bottom: 20px;
}

.quiz-header span{
  font-size: 18px;
  font-weight: 700;
  color: #556169;
}

.quiz-header .header-score{
  background: #d3d2c9;
  border-radius: 3px;
  padding: 7px;
}

.quiz-box .question-text{
  font-size: 24px;
  font-weight: 600;
}

.option-list .option{
  width: 100%;
  padding: 12px;
  background: transparent;
  border: 2px solid #6b7983;
  border-radius: 4px;
  font-size: 17px;
  margin: 15px 0;
  pointer-events: auto;
  cursor: pointer;
  transition: .3s;
}

.option-list .option:hover {
  background: #c4c2c0;
  border-color: #41494f;
}

.option-list .option.correct{
  background: rgba(255, 255, 255, .1);
  color: #00a63d;
  border-color: #00a63d;
}

.option-list .option.incorrect{
  background: rgba(255, 255, 255, .1);
  color: #ad002b;
  border-color: #ad002b;
}

.quiz-box .quiz-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid #8da0ad;
  padding-top: 20px;
  margin-top: 20px;
}

.quiz-footer .question-total{
  font-size: 16px;
  font-weight: 600;
}

.quiz-footer .next-btn{
  width: 100px;
  height: 45px;
  background: rgba(255, 255, 255, .1);
  border: 2px solid #07458baf;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  color: #07458baf;
  font-weight: 600;
  cursor: pointer;
  pointer-events: none;
  transition: .5s;
}

.quiz-footer .next-btn.active:hover{
  background-color: #D3D2C9;
  color: #646464;
  border-color: #ffffff;
  box-shadow: 0 0 10px #364679;
}

.quiz-footer .next-btn.active{
  pointer-events: auto;
  box-shadow: 0 0 10px #578e51;
  color: #578e51;
}

.option-list .option.disabled{
  pointer-events: none;
  opacity: 0.7;
  cursor: not-allowed;
}

.quiz-section .result-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.9);
  width: 500px;
  background: transparent;
  border: 2px solid #556169;
  border-radius: 6px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .3s ease;
}

.quiz-section .result-box.active{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}

.result-box h2{
  font-size: 52px;
}

.result-box .per-con{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px;
}

.per-con .cir-progress{
  position: relative;
  width: 250px;
  height: 250px;
  background: conic-gradient(#8da0ad 3.6deg, #86857424 0deg);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.per-con .cir-progress::before{
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  background: #ebe8e5;
  border-radius: 50%;
}

.cir-progress .progress-value{
  position: relative;
  font-size: 45px;
  font-weight: 600;
}

.per-con .score-text{
  font-size: 26px;
  font-weight: 600;
  margin: 20px;
}

.result-box .buttons{
  display: flex;
}

.buttons button{
  width: 130px;
  height: 47px;
  background-color: #a8c1d2;
  color: #556169;
  box-shadow: 0 0 10px #8da0ad;
  border: 2px solid #fff;
  outline: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  margin: 0 20px 20px;
  cursor: pointer;
  transition: .5s;
}

.buttons button:nth-child(1):hover{
  background-color: #5a6985;
  background-size: 200% 200%;
  color: #ccd6f3;
  animation: vintage-gradient 5s linear infinite;
  transform: scale(1.1);
  border-color: #ffffff;
  animation: border-animation 0.5s ease-in-out infinite alternate;
  background-size: 200% 200%;
  font-weight: 600;
}
/* #000C2D #9DAA88 #DDB576 #DDBB88 #B35F18 #B35F23 #005F6B */
.buttons button:nth-child(2){
  background: transparent;
  color: #556169;
}

.buttons button:nth-child(2):hover{
  background-color: #a8d2ad;
  color: #456b41;
}